source: qtcam
Section: video
Priority: extra
Maintainer: sushanth317 <sushanth.s@e-consystems.com>
Build-Depends: debhelper (>= 9.0.0), libv4l-dev, libv4l-dev, libavcodec-dev, libavformat-dev, libavutil-dev, libswscale-dev, libudev-dev,qtdeclarative5-dev, freeglut3, freeglut3-dev, libjpeg-turbo8-dev, libusb-1.0-0-dev, libusb-dev, libevdev-dev, libpulse-dev, qtmultimedia5-dev,libasound2-dev,libturbojpeg0-dev,lsb-release, qtbase5-dev,qt5-qmake,qttools5-dev,qttools5-dev-tools,qtwebengine5-dev,libqt5svg5-dev, libqt5websockets5-dev,qtchooser,lsb-core
Standards-Version: 3.9.3
Homepage: http://www.e-consystems.com/opensource-linux-webcam-software-application.asp
#Vcs-Git: git://git.debian.org/collab-maint/qtcam.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/qtcam.git;a=summary

Package: qtcam
Architecture: any
Depends:  ${shlibs:Depends}, ${misc:Depends},mkvtoolnix, qml-module-qtquick-controls, qml-module-qtquick-dialogs ,qml-module-qtquick-extras,qml-module-qtquick-privatewidgets,qtquickcontrols5-doc ,libavutil-dev ,libavcodec-dev,libavformat-dev,libswscale-dev ,libturbojpeg0-dev ,qtmultimedia5-dev
Description: It is a webcam application for linux.
 It is a webcam application for linux developed by e-con systems.
