[Desktop Entry]
Version=16.0.3
Type=Application
Terminal=true
Name[en_IN]=Qtcam
Exec=sudo /usr/bin/qtcam
Name=Qtcam
Comment=Linux camera application
Icon=/usr/share/qml/qtcam/icon/images/icon.jpg
TargetEnvironment=Unity
